/.idea/misc.xml
.idea
.metadata
.settings
*.iml
.classpath
.project

/Vision-Auto-Tests/Vision-Tests/jsystem.properties
/Vision-Auto-Tests/Vision-Tests/lib/
/Vision-Auto-Tests/Vision-Tests/log/
/Vision-Auto-Tests/Vision-Tests/jsystem*.log
/Vision-Auto-Tests/Vision-Tests/src/main/resources/browserprofiles/firefox/
/Vision-Auto-Tests/Vision-Tests/src/main/resources/C#apps/
/Vision-Auto-Tests/Vision-Tests/src/main/resources/DeviceDriversRepositorySerializing/


Auto-Utils/target

Vision-Auto-Infra/CLI-Infra/target
Vision-Auto-Infra/Rest-Infra/target
Vision-Auto-Infra/Webui-Infra/target

Vision-Auto-Tests/Database-Step-Handlers/target
Vision-Auto-Tests/Rest-Step-Handlers/target
Vision-Auto-Tests/Vision-Tests/target
Vision-Auto-Tests/Webui-Step-Handlers/target





