<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="fileLogger" fileName="logger.out" filePattern="logger-%d{yyyy-MM-dd}-%i.out.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.radware" level="info">
            <appender-ref ref="fileLogger"/>
        </Logger>
    </Loggers>
</Configuration>